/* axis class style rule */
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges; /* svg attribute */
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
